.animated-unmount-enter {
  opacity: 0;
  transform: translateY(100%);
}
.animated-unmount-enter-active {
  opacity: 1;
  transform: none;
  transition: all .3s;
}
.animated-unmount-exit {
  opacity: 1;
  transform: none
}
.animated-unmount-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: all .3s;
}