.animated-unmount__get-in {
    animation: get-in .7s ease-in-out;
}
.animated-unmount__get-out {
    animation: get-out .7s ease-in-out
}

@keyframes get-in {
  from {
      opacity: 0;
  }
  to {
    opacity:1;
  }
}
@keyframes get-out {
    from {
        opacity:1;
    }
    to {
        opacity: 0 
    }
  }