.backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    height: 100%;
    width: 100%;
    z-index: 28;
    transform: translate(-130%)
}