.button {
    padding: 0.5rem;
    cursor: pointer;
    font-size: x-large;
    border-radius:  18px;
    width: 100%;
    border: 3px solid var(--main);
    color: var(--main);
    background-color: #fff;
    box-shadow: 0px 0px 4px var(--main);
    transition: all 0.2s linear;
}
.button:hover {
    box-shadow: var(--shadow);
    color: #fff;
    border: 3px solid var(--lightmain);
    text-shadow: var(--shadow);
    background-image: linear-gradient( var(--lightmain), var(--main));
}
.button-white {
    border: 3px solid #fff;
    color: #fff;
}
.button-brown {
    border: 3px solid var(--pink);
    color: var(--pink);
}
