.button {
    width: 100%;
	padding: 0.5rem 1rem;
	border-radius: 18px;
	color: var(--main);
	font-size: 24px;
	transition: all 0.3s ease-in;
    border: 1px solid var(--main);
    box-shadow: 0 0 8px var(--lightmain);
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.button:after {
    content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--darkgrey);
	border-radius: 18px;
	z-index: -2;
}
.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-image: linear-gradient(var(--lightmain), var(--main));;
    transition: all 0.4s ease-in;
    z-index: -1;
}
.button:hover {
    color: var(--darkgrey);
    border: 1px solid var(--lightmain);
}
.button:hover:before  {
    width: 100%;
}

