.button {
    padding: 0.5rem 0.7rem;
    cursor: pointer;
    font-size: large;
    margin: 1rem auto;
    border-radius:  40px;
    width: 200px;
}
.button:hover {
    border: 3px solid var(--darkgrey);
    color: var(--darkgrey)
}
.button-white {
    border: 3px solid #fff;
    color: #fff;
}
.button-brown {
    border: 3px solid var(--pink);
    color: var(--pink);
}
