.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: var(--shadow);
    background-color: rgba(255, 255, 255, 0.6);
    margin: 4%;
    border-radius: 18px;
    z-index: 3;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 2px #fff solid;
    padding: 0;    
}
@media (min-width: 750px) {
    .card {
        margin: 4% 18%;
    }
}
@media (min-width: 986px) {
    .card {
        margin: 8% 12%;
    }
}
