.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: var(--shadow);
    background-color: #fff;
    margin: 4%;
    padding: 4%;
    transform: scaleX(0);
    transform: scaleX(0);
}