.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: var(--shadow);
    background-color: rgba(255, 255, 255, 0.7);
    margin: 4%;
    padding: 4%;
    border-radius: 18px;
    z-index: 3;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px #fff solid;
    transition: all 0.6s ease-out;
    
}
.card:hover {
    background-color: #fff;
    transform: scale(1.1);
}