.loadingAnimation {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:12;  
}
.loadingAnimation__main {
    position: relative;
}
.loadingAnimation__ring {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #fff;
    animation: loadingAnimation 2s linear infinite;
}
.loadingAnimation__text {
    position: absolute;
    top: 44%;
    left: 50%;
    margin-left: -40px;
    color: var(--main); 
}

@keyframes loadingAnimation {
    0% {
       transform: rotate(0); 
        box-shadow: 1px 5px 2px var(--main);
        border: 1px solid var(--main);
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px var(--lightmain);
        border: 1px solid var(--lightmain);
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px var(--main);
        border: 1px solid var(--main);
    }

}