.about {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4%  8% 8%;
}
.about__header {
  width: 12rem;
  height: auto;
  margin: 4% auto;
}

.about__content p {
    color: var(--grey);
    margin: 4% 6% 8%;
}
.about__button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@media (min-width: 750px) {
    .about__content p {
        margin: 4% 24%;
    }
}

@media (min-width: 1200px) {
    .about {
        padding: 0%  8% 2%;
    }
    .about__header {
        width: 18rem;
        height: auto;
        margin: 4% auto;
      }
    .about__content p {
        margin: 4% 24%;
    }
    .about__button-section {
        margin: 4%  24%;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 986px) {

}
