.about {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about__header {
  text-align: center;
  font-weight: bold;
  font-size: 74px;
  color: var(--main);
  margin: 2rem auto 1.6rem;
  transform: scale(0.01);
  transition: transform .4s ease-out;
}
.about__content-text {
    color: var(--darkgrey);
    margin: 2% 12% 4%;
    text-align: justify;
    transform: scale(0.01);
    transition: all .8s linear .4s;
}
.about__appear {
    transform: scale(1);
  }
.about__button-section {
    padding: 4% 20% 8%;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.about__button {
    width: 100%;
    margin: 1rem;
}

@media (min-width: 750px) {
    .about__header {
        margin-top: .5em;
        font-size: 84px;
    }
    .about__content {
        margin: 4% 24%;
    }
    .about__button-section {
        padding: 0% 2% 8%;
        flex-direction: row;
        justify-content: space-between;
    }
}
@media (min-width: 1200px) {
    .about__header {
        margin: 0% auto;
        font-size: 94px;
    }
    .about__content p {
        margin: 2% 28%;
        font-size: 18px;
    }
    .about__button {
        margin: 0 3em;
    }
}

