.about {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  font-size: 54px;
  color: var(--main);
  margin-top: 1em;
}
.about__header--animate {
    animation: header-a 3s ease-in-out 1s infinite alternate;
}
.about__content p {
    color: var(--darkgrey);
    margin: 4% 16% 12%;
    text-align: justify;
}
.about__button-section {
    background-color: var(--darkgrey);
    padding: 12% 12% 25% 12%;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.about__button {
    width: 100%;
    margin: 1.5em;
}

@media (min-width: 750px) {
    .about__header {
        margin-top: .5em;
        font-size: 84px;
    }
    .about__content {
        margin: 4% 24%;
    }
    .about__button-section {
        padding: 4% 2%;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .about__header {
        margin: 0% auto;
        font-size: 94px;
    }
    .about__content p {
        margin: 2% 28%;
        font-size: 18px;
    }
    .about__button {
        margin: 0 3em;
    }
}
@keyframes header-a {
    from, to {
        transform: none;
    }
    50% {
        transform: translateY(-6px);
    }
}
