.afterMessageInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: var(--shadow);
    border-radius: 18px;
    padding: 4%;
    margin: 2% 8%;
    z-index: 3;
    opacity: 0;
    animation: make-visible-a .7s linear forwards ;
}
.afterMessageInfo p {
    text-align: center;
    padding: 3rem 3rem 0;
}
.afterMessageInfo__button {
    margin: 3rem;
    display: flex;
    justify-content: center;
}
