.afterMessageInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
.afterMessageInfo p {
    text-align: center;
    margin-top: 1rem;
}
.afterMessageInfo__button {
    margin: 3rem 0 2rem 0;
    display: flex;
    justify-content: center;
}
@media(min-width: 750px) {
    .afterMessageInfo p {
        font-size: larger;
    }
}