.contact-me__bg-image {
    background-image: url('../assets/shapes_all.svg');
    background-color: var(--beige);
    width: 100%;
    background-size: cover;  
}
.contact-me {
    display: flex;
    justify-content: center;
}
.contact-me__header {
    font-size: x-large;
    color: var(--brown);
    text-align: center;
}

@media (min-width: 986px) {
    .contact-me__header {
        font-size: xx-large;
    }
}