.contact__bg-image {
    margin-top: -0.5rem;
    background-image: url('../assets/welcome_bg.jpg');
    padding: 8% 2% 12%;
}
.contact__main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: var(--shadow);
    background-color: #fff;
    margin: 4%;
    padding: 4%;
    border-radius: 18px;
    z-index: 3;
}

.contact__header {
    margin-top: 1em;
}
.contact__text {
    font-size: 36px;
    font-weight: 600;
    color: var(--main);
    text-align: center;
}
@media (min-width: 750px) {
    .contact__bg-image {
        padding: 12%;
    }
}
@media (min-width: 986px) {
    .contact__bg-image { 
        padding: 4% 28%;
    }
    .contact__text {
        font-size: 44px;
        margin-bottom: 0.5em;
    }
}