.contact__bg-image {
    background-color: var(--darkgrey);
    width: 100%;
    background-size: cover;
     
}
.contact {
    display: flex;
    justify-content: center;
    padding: 1rem;  
}
.contact__header {
    margin: 0.8rem 0 1.2rem 0;
}
.contact__text {
    font-size: x-large;
    color: var(--pink);
    text-align: center;
    margin-bottom: 2rem;
}

@media (min-width: 986px) {
    .contact__header {
        margin-bottom: 3rem;
    }
    .contact__text {
        font-size: xx-large;
    }
}