.contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: var(--shadow);
    padding: 4%;
    margin: 2% 8%;
    border-radius: 18px;
    z-index: 3;
    opacity: 0;
    animation: make-visible-a .7s linear forwards;
}
.contact-form__header {
    margin-top: 1em;
}
.contact-form__text {
    font-size: 36px;
    font-weight: 600;
    color: var(--main);
    text-align: center;
}
.contact-form__form {
    padding: 0.8rem 1rem 3rem;
}
.contact-form__button {
    margin-top: 2rem;
}
