.contact__bg-image {
    margin-top: -0.5rem;
    background-image: url('../assets/projectsBG.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 44rem;
    padding: 8% 2% 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -3;
}
.contact--hidden {
    display: none
}

@media (min-width: 750px) {
    .contact__bg-image {
        padding: 12% 20%;
    }
}
@media (min-width: 986px) {
    .contact__bg-image { 
        padding: 4% 30%;
    }
    .contact__text {
        font-size: 44px;
        margin-bottom: 0.5em;
    }
}
