.about-me {
    margin-top: 12px;
    background-color: #a47C70;
    padding: 8% 0;
}
.about-me__content {
    text-align: center;
    color: white;
    padding: 4%;
}
.about-me__content p {
    text-align: justify;
}