.my-react-projects {
    background-color: #BD9781;
    padding: 8%
}
.my-react-projects h3 {
    color: white;
    text-align: center;
    margin-bottom: 8%;
    
}
.my-react-projects__projects {
    display: flex;
    flex-direction: column;  
}