.project__img {
    background-repeat: no-repeat;
    height: 80px;
    width: 240px;
    margin: 2rem auto  1.2rem;
}
.project__description {   
    color: var(--darkgrey);
    margin:0;
    background-color: #fff;
    border-radius: 0 0 18px 18px;
    padding: 2rem;
}
.project__description--description {
    text-align: center;
}
@media (min-width: 986px) {
    .project__description {   
        height: 350px;
    }
 
}

