.project {
    display: flex;
    justify-content: center;
}
.project__img {
    background-image: url('../assets/portfolo_strona_bez.svg');
    background-color: var(--beige);
    background-repeat: no-repeat;
    height: 240px;
    width: 240px;
    margin: 8% auto 4% auto
}
.project__description {
    margin: 8%;
    color: var(--grey)
}
.project__description--title {
    text-align: center;
}
.project__description--description {
    text-align: center;
}
@media (min-width: 750px) {
    .project__img {
        margin: 12% auto 0% auto;
    }
    .project__description--title {
        font-size: larger;
        margin-bottom: 8%;
    }
    .project__description--description {
        margin: 8%;
    }
}

