.my-projects {
    background-image: url('../assets/projectsBG.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    z-index: -2;
    padding: 2.5rem 1rem 6rem;
}
.my-projects__header {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.my-projects_projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
}
@media (min-width: 986px) {
    .my-projects_projects {
        align-items: center;    
}
}
@media (min-width: 1200px) {
    .my-projects {
        padding-top: 4rem 
    }
    .my-projects_projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
    }
}