.my-projects {
    background-image: url('../assets/projectsBG.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    z-index: -2;
    padding: 4% 4% 18%;
}
.my-projects__header {
    color: #fff;
    font-weight: bold;
    font-size: 56px;
    text-align: center;
    margin:2%;
    text-shadow: var(--shadow);
}
.my-projects_projects {
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (min-width: 750px) {
    .my-projects {
        padding: 4% 4% 12%;
    }
}

@media (min-width: 986px) {
    .my-projects {
        padding: 2% 4% 8%;
    }
    .my-projects_projects {
        display: flex;
        flex-direction: row;    
    }
    .my-projects__header {
        margin: 1% auto 2%;
}
}