.project-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: .8rem;

}
.project-links a {
    margin: .8rem;
    background-color: #00C09F;
    height: 24px;
    width: 24px;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    transition: all 0.3s ease
}
.project-links a:hover {
    transform: scale(1.1);
    background-color:var(--main);
    cursor: pointer;
    box-shadow: var(--shadow);
}
