.project-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2%;
}
.project-links a {
    margin: 8px;
    background-color: var(--grey);
    height: 36px;
    width: 36px;
    padding: 8px;
    border-radius: 8px;
    transition: all 0.5s ease
}
.project-links a:hover {
    transform: scale(1.1);
    background-image: linear-gradient(var(--lightmain), var(--main));
    cursor: pointer;
    box-shadow: var(--shadow);
}
