.project {
    display: flex;
    flex-direction: column;
}
.project__img {
    background-repeat: no-repeat;
    height: 80px;
    width: 240px;
    margin: 1.2rem auto 2rem;
}
.project__description {   
    color: var(--darkgrey);
    margin:0;
    background-color: #fff;
    border-radius: 0 0 18px 18px;
    padding: 2rem;
}
.project__description--description {
    text-align: center;
}
@media (min-width: 1400px) {
    .project {
        width: 500px;
        height: 400px;
        margin-bottom: 8rem;
    }
    .project__description {   
        height: 200px;
    }
}

