.my-projects {
    background-image: url('../assets/projectsBG.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    z-index: -2;
    padding: 2.5rem 1rem 6rem;
}
.my-projects__header {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.my-projects_projects {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
}

@media (min-width: 1400px) {
    .my-projects {
        padding: 4rem 18rem 8rem
    }
    .my-projects_projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;    
    }
    .my-projects__header {
        margin: 1% auto 2%;
}
}