.skills {
    background-color: #fff;
    padding: 4%;
    text-align: center;
    color: var(--darkgrey);
}
.skills__header {
    background-color: #fff;
    background-position: center;
    height: 6rem;
    width: 12rem;
    margin: -4rem auto 1rem auto;
    border-radius: 40px 40px 0 0;
}
.skills__header-text {
    padding-top: 1.6rem;
    font-size: large;
}
.skills__logos {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    background-color: var(--darkgrey);
    padding: 2em;
    border-radius: 40px;
    border: 4px var(--pink) solid;
    margin: 8%;
    
}
.skills__logo {
    margin: 8%;
   
}
.skills__html {
    background-image: url('../assets/technologiesLogos/htmlLogo.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 70px;
}
.skills__css {
    background-image: url('../assets/technologiesLogos/cssLogo.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 70px;
}
.skills__js {
    background-image: url('../assets/technologiesLogos/javaScriptLogo.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 70px;
}
.skills__react {
    background-image: url('../assets/technologiesLogos/reactLogo.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 70px;
}
.skills__node {
    background-image: url('../assets/technologiesLogos/nodeLogo.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 70px;
}
.skills__materialui {
    background-image: url('../assets/technologiesLogos/materialUILogo.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 70px;
}
@media (min-width: 750px) {
    .skills__logo {
        margin: 4% 8%
    }
    .skills__header {
        margin: -5rem auto 1rem auto;
    }

}
@media (min-width: 986px) {
    .skills__logo {
        margin: 2% 4%
    }
    .skills__header {
        margin: -7rem auto 1rem auto;
    }
    .skills__header-text {
        padding-top: 2rem;
        font-size: x-large;
    }
}
