.user-input {
    margin-right: 1.5rem
}
.user-input__label {
    color: var(--pink);
    font-size: smaller;
    margin-left: .5rem;
}
.user-input__input {
    border: 3px solid var(--pink);
    width: 100%;
    height: 40px;
    margin: 0.5rem 0;
    padding: 10px;
    font-size: medium;
}
.user-input__textarea {
    resize: vertical;
    border: 3px solid var(--pink);
    width: 100%;
    margin: 0.5rem 0;
    padding: 10px;
    font-size: medium;
}
.user-input__error-text {
    margin-left: .5rem;
    height: 20px;
    font-size: small;
    color: var(--error)
}
