.welcome {
  width: 100%;
  height: auto;
  background-color: var(--darkgrey);
  position: relative;
}
.welcome__nav-icons {
  display: none;
}
@media (min-width: 986px) {
  .welcome__nav-icons {
    display: inline;
    position: absolute;
    right: 4rem;
    top:6rem
  } 
}
@media (min-width: 1500px) {
  .welcome {
    padding-top: 0px;
  }
}