.welcome {
  width: 100%;
  height: 30rem;
  background: black url('../assets/welcome_bg.jpg') no-repeat center top;
  background-size: cover;
  position: relative;
}
.welcome__illustrations {
  position: absolute;
  top: 8rem
}
.welcome__nav-icons {
  display: none
}
@media (min-width: 750px) {
  .welcome {
    height: 40rem;
  }  
}
@media (min-width: 986px) {
  .welcome {
    height: 100vh;
  }
  .welcome__illustrations {
    top: 20%;
    height: 70%;
    display: flex;
    justify-content: center;
    
  }
  .welcome__nav-icons {
    display: inline;
    position: absolute;
    right: 4rem;
    top:6rem
  } 
}
@media (min-width: 1500px) {
  .welcome {
    padding-top: 0px;
  }
}