.animated-nav-bar {
    width: 100%;
    z-index: -4;
    background-color: var(--darkgrey);
    position: fixed;
    margin: 0;
    height: 72px;
    transition: all 0.8s ease-out;
    box-shadow: var(--shadow);
    border-bottom: 3px solid var(--main);
}

.animated-nav-bar--hidden {
    transform: translateY(-100%);
    box-shadow: none;
}

@media (min-width: 986px) {
    .animated-nav-bar {
        height: 6rem;
    }
}