.animated-nav-bar {
    width: 100%;
    z-index: -5;
    background-color: var(--darkgrey);
    box-shadow: none;
    transform: translateY(-100%);
    position: fixed;
    margin: 0;
    height: 4rem;
}

@media (min-width: 986px) {
    .animated-nav-bar {
        height: 6rem;
    }
}