.drawer {
    z-index: 40;
    position: fixed;
    background-image: linear-gradient(90deg, #000000, var(--darkgrey));
    padding: 2rem;
    height: 100%;
    width: 40%;
    transition: transform 0.3s linear;
}
.drawer--close {
    transform: translateX(-100%);
}
@media (min-width: 750px) {
    .drawer {
        width: 25%;
    }
}
@media (min-width: 986px) {
    .drawer {
        display: none;
    }
}