.footer {
    background-color: #fff;
    padding: 8%;
    text-align: center;
    color: var(--darkgrey);
    font-size: x-small;
}
.footer__nav-element {
    margin:-3rem 0  0 80% ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: var(--main);
    box-shadow: var(--shadow);
    font-size: 60px;    
}

@media (min-width: 750px) {
    .footer {
        padding: 2%;
    }
    .footer__nav-element {
        margin:-2.5rem 0  0 80% ;
    }
}
@media (min-width: 986px) {
    .footer__nav-element {
        margin:-4rem 0  0 80% ;
    }
}