.main-navigation {
    width: 100%;
    z-index: 30;
    position: fixed;
}
.main-navigation__nav-bar {
    margin: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-navigation__hamburger-menu {
    margin-top: 2px;
    width: 32px;
}
.main-navigation__hamburger-menu--elements {
    background-color: white;
    border-radius: 2px;
    margin-bottom: 5px;
    height: 3px;
    width: 100%;
}
.main-navigation__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.main-navigation__menu-item {
    display: none;
}
@media (min-width: 986px) {
    .main-navigation__nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        color:white;
        margin: 2rem;
    }
    .main-navigation__hamburger-menu  {
        display: none;
    }
    .main-navigation__nav-icons {
        display: none
    }
    .main-navigation__menu-item {
        display: inline;
    }
}