.main-navigation {
    width: 100%;
    z-index: 10;
    position: fixed;
    margin: 0;
}
.main-navigation__nav-bar {
    margin: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-navigation__hamburger-menu {
    margin-top: 2px;
    height: 30px;
    width: 32px;
}
.main-navigation__hamburger-menu--elements {
    background-color: white;
    border-radius: 2px;
    margin-bottom: 5px;
    height: 3px;
    width: 100%;
}
.main-navigation__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.main-navigation__menu-item {
    display: none;
}
.main-navigation--logo {
    height: 28px;
    width: 28px;
    margin-left: 2em;
}
.main-navigation--logo:hover{
    cursor: pointer;
}
@media (min-width: 986px) {
    .main-navigation__nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        color:white;
    }
    .main-navigation__hamburger-menu  {
        display: none;
    }
    .main-navigation__menu-item {
        display: inline;
    }
    .main-navigation--logo {
        margin-top: 8%;
    }
}