.menu {
    display: flex;
    flex-direction: column;
}
.menu li {
    list-style-type: none;
    color: #fff;
    margin: 1rem
}
.menu a {
    text-decoration: none;
    color: inherit;
    font-size: medium;
}

@media (min-width: 886px) {
    .menu {
        flex-direction: row;
    }
    .menu li {
        display: inline;
    }
    .menu a {
        font-size: x-large;
        padding: 8px 18px;
        border: 3px solid transparent;
        border-radius: 30px;
        transition: all 0.5s ease-out;
    }
    .menu a:hover {
        cursor: pointer;
        background-color: rgba(71, 41, 12, 0.1);
        color: var(--lightmain);
        border: 3px solid var(--lightmain);
        box-shadow: 0 0 18px var(--lightmain);
    }
    .menu__line {
        display: none;
    }
}