.menu {
    display: flex;
    flex-direction: column;
}
.menu li {
    list-style-type: none;
    color: #fff;
    margin: 1.5rem 1rem
}
.menu__line {
    position: relative;
}
.menu__line:after {
    content: '';
    width: 0rem;
    height: 2px;
    background-color: var(--lightmain);
    position: absolute;
    top: 2rem;
    left: 0;
    animation: line-a 0.5s linear forwards;
}
.menu a {
    letter-spacing: 0.15rem;
    text-decoration: none;
    color: inherit;
    font-size: medium;
}

@media (min-width: 886px) {
    .menu {
        flex-direction: row;
    }
    .menu li {
        display: inline;
    }
    .menu a {
        font-size: 18px;
        padding: 8px 18px;
        border: 3px solid transparent;
        border-radius: 18px;
        transition: all 0.5s ease-out;
    }
    .menu a:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, .7);
        color: var(--lightmain);
        border: 3px solid var(--lightmain);
        box-shadow: 0 0 18px var(--lightmain);
    }
    .menu__line {
        display: none;
    }
}

@keyframes line-a {
   from {
        width: 0rem;
   }
   to {
        width: 7rem;
   } 
}