* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
:root {
    --darkgrey: #404040;
    --grey: #A0B4B4;
    --main: #00EAD3;
    --lightmain: #88FFF7;
    --shadow: 0px 2px 4px rgb(36, 4, 4, 0.6);
    --error: #FF005C;
}
.main {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

*:focus {
    outline: none;
}

section {
    scroll-margin-top: 6rem;
}
a {
    font-size: x-large;
    color: inherit;
    text-decoration: none;
}
@media (min-width: 960px) {
    .main {
        -webkit-overflow-scrolling: initial;
        overflow-y: visible
    }
}



