* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
:root {
    --darkgrey: #404040;
    --grey: #808080;
    --pink: #e957e2;
    --brown: #7D5A50;
    --shadow: 9px 0px 8px rgb(36, 4, 4, 0.3);
    --error: #BD4B4B;
}
*:focus {
    outline: none;
}
section {
    scroll-margin-top: 6rem;
}


