* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
:root {
    --darkgrey: #404040;
    --grey: #AAAAAA;
    --main: #00EAD3;
    --shadow: 0px 0px 12px rgb(36, 4, 4, 0.3);
    --error: #FF005C;
}
*:focus {
    outline: none;
}
section {
    scroll-margin-top: 6rem;
}


